<div class="vclEmailViewport">
  <div class="vclHidden-print">
    <h1 class="vclAlignCentered">Hello {{firstName}} {{lastName}},</h1>
    <h2 class="vclAlignCentered">Thanks for your order!</h2>
    <br>
  </div>
  <div class="vclEmailBody">
    <div class="vclFloatLeft">
      <img class="vclResponsiveImage vclLogo" role="presentation" src="https://cdn.jsdelivr.net/gh/vcl/vcl/gfx/vcl_logo_square-bw.svg" style="width: 9em; margin-top: 1em;">
      <div style="margin-bottom: 1em;">
        <span class="vclText">{{companyName}}</span>&nbsp;·&nbsp;
        <span class="vclText">{{streetAddress}}</span>&nbsp;·&nbsp;
        <span class="vclText">{{cityCodeAdress}}</span>
      </div>
    </div>

    <table class="vclTable vclCondensed vclFloatRight invoicemeta" style="width: 20em; margin-top: 1.5em;">
      <tr>
        <td><b>Invoice No.</b></td>
        <td class="vclAlignRight">{{invoiceNo}}</td>
      </tr>
      <tr>
        <td><b>Date</b></td>
        <td class="vclAlignRight">{{invoiceDate}}</td>
      </tr>
      <tr>
        <td><b>Payment Status</b></td>
        <td class="vclAlignRight">{{paymentStatus}}</td>
      </tr>
      <tr>
        <td><b>Customer No.</b></td>
        <td class="vclAlignRight">{{customerNo}}</td>
      </tr>
      <tr>
        <td><b>VAT-ID-No.</b></td>
        <td class="vclAlignRight">{{vatIdNo}}</td>
      </tr>
    </table>
    <br>

    <div class="vclClearFix"></div>
    <br>

    <table class="vclTable vclNoBorder vclFloatLeft billingAddress" style="width: 100%; max-width:50%;">
       <tbody>
        <tr>
          <td><b>Rechnungsadresse</b></td>
          <td>{{firstName}} {{lastName}}</td>
        </tr>
        <tr>
          <td> </td>
          <td>{{billingStreet}}</td>
        </tr>
        <tr>
          <td> </td>
          <td>{{billingCity}}</td>
        </tr>
        <tr>
          <td> </td>
          <td>{{billingCountry}}</td>
        </tr>
      </tbody>
    </table>

    <table class="vclTable vclNoBorder vclFloatLeft shippingAddress" style="width: 100%; max-width:50%;">
      <tbody>
        <tr>
          <td><b>Lieferadresse</b></td>
          <td>{{firstName}} {{lastName}}</td>
        </tr>
        <tr>
          <td> </td>
          <td>{{livingStreet}}</td>
        </tr>
        <tr>
          <td> </td>
          <td>{{livingCity}}</td>
        </tr>
        <tr>
          <td> </td>
          <td>{{livingCountry}}</td>
        </tr>
      </tbody>
    </table>
    <div class="vclClearFix"></div>
    <br>
    <div style="width: 100%; overflow: auto;">
      <table class="vclTable vclSumTable items">
        <thead>
          <tr>
            <th><div>Position</div></th>
            <th><div>Description</div></th>
            <th class="vclAlignRight"><div>Quantity</div></th>
            <th class="vclAlignRight"><div>VAT</div></th>
            <th class="vclAlignRight"><div>Amount (€)</div></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{item1description}}</td>
            <td class="vclAlignRight">{{item1quantity}}</td>
            <td class="vclAlignRight">{{item1vat}}</td>
            <td class="vclAlignRight">{{item1amount}}</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{item2description}}</td>
            <td class="vclAlignRight">{{item2quantity}}</td>
            <td class="vclAlignRight">{{item2vat}}</td>
            <td class="vclAlignRight">{{item2amount}}</td>
          </tr>
          <tr>
            <td>3</td>
            <td>{{item3description}}</td>
            <td class="vclAlignRight">{{item3quantity}}</td>
            <td class="vclAlignRight">{{item3vat}}</td>
            <td class="vclAlignRight">{{item3amount}}</td>
          </tr>
          <tr class="vclSumTableSubTotal">
            <td colspan="3">Sub-Total (gross)</td>
            <td colspan="2" class="vclAlignRight">{{subTotalGross}} <small>€</small></td>
          </tr>
          <tr class="vclNoBorder">
            <td colspan="3">Sub-Total (net)</td>
            <td colspan="2" class="vclAlignRight">{{subTotalNet}} <small>€</small></td>
          </tr>
          <tr class="vclNoBorder">
            <td colspan="5">&nbsp;</td>
          </tr>
          <tr class="vclNoBorder">
            <td colspan="3">+ VAT 19%</td>
            <td colspan="2" class="vclAlignRight">{{vat1total}} <small>€</small></td>
          </tr>
          <tr class="vclNoBorder">
            <td colspan="3">+ VAT 7%</td>
            <td colspan="2" class="vclAlignRight">{{vat2total}} <small>€</small></td>
          </tr>
          <tr class="vclSumTableTotal">
            <td colspan="3">To be paid</td>
            <td colspan="2" class="vclAlignRight">{{billTotal}} <small>€</small></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <p class="payment_instructions">
      Please transfer the money to the following account:
    </p>
    <table class="vclNoBorder" style="min-width: 18em;">
      <tr>
        <td><b>Bank</b></td>
        <td class="vclAlignRight">{{accountBank}}</td>
      </tr>
      <tr>
        <td><b>IBAN</b></td>
        <td class="vclAlignRight">{{accountIban}}</td>
      </tr>
      <tr>
        <td><b>BIC</b></td>
        <td class="vclAlignRight">{{accountBic}}</td>
      </tr>
      <tr>
        <td><b>Purpose</b></td>
        <td class="vclAlignRight">{{accountPurpose}}</td>
      </tr>
    </table>
    </p>
    <br>
    <p class="terms">
    {{saleTerms}}
    </p>
    <footer class="footer">
      <div class="vclFloatLeft vclScale85p" style="width: 33%;">
        VCL Company SE</br>
        Somestreet 45</br>
        70174 Stuttgart</br>
        billing@vclcompany.com</br>
        www.vclcompany.com</br>
        Tel.: +49(0)711-8489564894
      </div>
      <div class="vclFloatLeft vclScale85p" style="width: 33%;">
        Deutsche Bank AG</br>
        DE60200700000000000000</br>
        DEUTDEXXXXX
      </div>
      <div class="vclFloatLeft vclScale85p" style="width: 33%;">
        Entry in the Trade Register: </br>
        Register Number: HRB 736379</br>
        Register Court: Amtsgericht Stuttgart (Registergericht)</br>
        Members of the board: Max Mustermann</br>
        VAT-ID-No.: DE000000000
      </div>
    </footer>
    <div class="vclClearFix"></div>
    <br>
  </div>
  <div class="vclHidden-print">
    <br>
    <p class="vclAlignCentered outro">
      Yours sincerely,
      <br>The VCL Team!
    </p>
    <div class="vclEmailFooter">
      Need Help? <a href="mailto:">Email</a>
    </div>
  </div>
</div>
